@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

#main-wrapper {
  width: 100%;
  overflow: hidden;
}

#content-wrapper {
  background-color: #f7f7f7;
  position: relative;
  height: 100%;
}

#top-nav {
  display: flex;
  align-items: center;
  padding: 0px 34px;
  background-color: #ffffff;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  height: 64px;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#powered {
  font-size: 11px;
  margin: auto 0 12px 8px;
  color: #5b5b5b;
  display: flex;
}

#mini-logo {
  content: url("../Icons/logo.jpg");
  width: 72px;
  height: 18px;
  margin-left: 4px;
  line-height: normal;
}

#logo {
  cursor: pointer;
  width: 129px;
  height: 32px;
}

#logout {
  width: 15px;
  height: 15px;
}

#profile {
  width: 32px;
  height: 32px;
}

#nav-item {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-item a {
  margin-left: 22px;
  font-weight: 600;
  font-size: 14px;
  color: #727272;
  text-decoration: none;
  cursor: pointer;
}

#nav-item a div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-item a div span {
  font-weight: 300;
  font-size: 10px;
}

#side-nav {
  height: 100%;
  width: 72px;
  position: fixed;
  z-index: 1;
  top: 63px;
  left: 0;
  background-color: #ffffff;
  border: 0.5px solid #d2d2d2;
  overflow-x: hidden;
}

#side-nav a {
  padding: 14px 24px;
  width: 100%;
  text-decoration: none;
  color: #818181;
  display: block;
}

#side-nav a {
  padding: 14px 24px;
  width: 100%;
  text-decoration: none;
  color: #818181;
  display: block;
  text-align: center;
}

#side-nav a:hover,
#active {
  background-color: #d2d2d2;
  cursor: pointer;
}

#side-nav span {
  background-color: #ffffff;
  border-radius: 3px;
  display: inline-block;
  width: 24px;
  height: 21px;
}

#side-nav span img {
  width: 17px;
  height: 17px;
}

#toggle-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#toggle-menu:hover {
  background-color: #d2d2d2;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 59px;
}

#line-1,
#line-2 {
  width: 24px;
  height: 3px;
  background-color: #c5c5c5;
  margin: 3px 0;
}

#line-3 {
  width: 16px;
  height: 3px;
  background-color: #c5c5c5;
  margin: 3px 0;
}

#page-wrapper {
  min-height: 100vh;
  margin-left: 72px;
  padding-top: 64px;
  padding-bottom: 50px;
}

#container {
  margin: 32px 24px 0px 24px;
  font-family: "Source Sans Pro", sans-serif;
  color: #707070c4;
}

#page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-title {
  font-size: 40px;
  font-weight: 600;
}

#filter-period {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  width: 481px;
  height: 48px;
  padding: 13px 16px;
  border-radius: 2px;
}

#filter-period p {
  margin-left: 16px;
}

#calendar {
  content: url("../Icons/calendar.png");
  width: 22px;
  height: 22px;
}

#period {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#arrow-up {
  content: url("../Icons/arrow2.png");
  width: 16px;
  height: 16px;
  margin-left: 16px;
  cursor: pointer;
}

#arrow-down {
  content: url("../Icons/arrow.png");
  width: 16px;
  height: 16px;
  margin-left: 16px;
  cursor: pointer;
}

#content-header {
  background-color: #37b04c;
  border-radius: 2px;
  color: #ffffff;
  width: 100%;
  height: 48px;
  margin-top: 44px;
  padding: 11px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#content-title {
  font-size: 20px;
  font-weight: 600;
}

#help-side {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}

#help-side p {
  cursor: pointer;
}

#help {
  content: url("../Icons/help.png");
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

#arrow-white-up {
  content: url("../Icons/arrow-white2.png");
  width: 14px;
  height: 14px;
  margin-left: 16px;
  cursor: pointer;
}

#arrow-white-down {
  content: url("../Icons/arrow-white.png");
  width: 14px;
  height: 14px;
  margin-left: 16px;
  cursor: pointer;
}

.card {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 15px 16px;
  margin-top: 16px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

#more {
  content: url("../Icons/more.png");
  width: 14px;
  height: 14px;
  cursor: pointer;
}

#row-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}

#row-2 p {
  font-size: 10px;
}

#row-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#sales-turnover-icon {
  content: url("../Icons/sales-turnover.svg");
  width: 49px;
  height: 43px;
  margin-right: 20px;
}

#arrows-down {
  content: url("../Icons/DownArrow.svg");
  width: 8px;
  height: 10px;
}

#sales-value {
  font-size: 25px;
  font-weight: 700;
  color: #4d4f5c;
}

#sales-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sales-turnover {
  width: 276px;
  height: 104px;
  font-size: 15px;
}

#purchase-chart {
  flex: 2;
  width: 570px;
  height: 424px;
}

#purchase-chart #row-1 p,
#best-selling #row-1 p,
#top-competitor #row-1 p {
  font-size: 20px;
}

#best-selling {
  flex: 1;
  width: 300px;
  height: 424px;
  margin-left: 16px;
}

#top-competitor {
  flex: 1;
  width: 300px;
  height: 424px;
  margin-left: 16px;
}

#top-item {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 80px;
  background-color: #ffe7bd;
  border-radius: 4px;
  margin-top: 16px;
}

#list-item {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #c5c5c59c;
  margin-top: 8px;
}

#top-item p {
  font-size: 20px;
  color: #000000de;
}

#list-item p {
  font-size: 16px;
  color: #000000de;
}

#item-info {
  margin: 10px 0 0 10px;
}

#item-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#top-item #item-count p {
  font-size: 14px;
  color: #707070c4;
}

#list-item #item-count p {
  font-size: 12px;
  color: #707070c4;
}

#image-product {
  content: url("../Icons/product.png");
  width: 60px;
  height: 100%;
  cursor: pointer;
}

#image-top {
  content: url("../Icons/product.png");
  width: 80px;
  height: 100%;
  top: 0;
}

#close {
  content: url("../Icons/close.png");
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#date-picker {
  display: flex;
  justify-content: right;
}

#period-date {
  z-index: 1;
  width: 830px;
  position: absolute;
  display: block;
}

#btn-apply {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 3px;
}
